{% extends 'base.html' %}
{% block content %}
  
      <div class="container py-5 mt-5 mb-5">
        <div class="row">
            <!-- Левая колонка: Изображение продукта -->
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="img-fluid rounded" width="300 px">
            </div>

            <!-- Правая колонка: Информация о продукте -->
            <div class="col-md-6">
                <h1 class="display-4">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>

                <hr>

                <!-- Цена и количество -->
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-success">Цена: {{ product.price }} ₽</h4>
                    <span class="badge bg-secondary">В наличии: {{ product.quantity }}</span>
                </div>

                <hr>

                <!-- Категория -->
                <p><strong>Категория:</strong> {{ product.category }}</p>

                <!-- Кнопка добавления в корзину -->
                <div class="card-footer bg-transparent border-0">
                    <a href="{% url 'cart:cart_add' product.id %}" class="btn btn-primary w-100">
                      <i class="fas fa-cart-plus me-2"></i>В корзину
                    </a>
                </div>
            </div>
        </div>
    </div>
  
{% endblock%}